Repository jmfontaine/discogs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-codegen-check, dead-code, deps-unused, type-check

sync-codegen-check:
  name: sync-codegen-check
  entry: uv run python scripts/generate_sync.py --check
  language: system
  pass_filenames: false

dead-code:
  name: dead-code
  entry: bash -c 'output=$(uv run deadcode src tests examples 2>&1); echo "$output"; echo "$output" | grep -q "DC0" && exit 1 || exit 0'
  language: system
  pass_filenames: false

deps-unused:
  name: deps-unused
  entry: uv run deptry src
  language: system
  pass_filenames: false

type-check:
  name: type-check
  entry: uv run ty check
  language: system
  pass_filenames: false

ci: silence the cache and Node 20 warnings
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/publish.yml
Due: none

chore: release v0.4.0
  pyproject.toml
  uv.lock
Due: none

feat: add request events and the rate-limit budget
  AGENTS.md
  README.md
  examples/advanced.py
  src/discogs_sdk/__init__.py
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_events.py
  src/discogs_sdk/_exceptions.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_events.py
  tests/async/test_exceptions.py
  tests/sync/test_events.py
  tests/sync/test_exceptions.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

feat: add a cache-only request scope
  AGENTS.md
  README.md
  examples/advanced.py
  src/discogs_sdk/__init__.py
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_exceptions.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_events.py
  tests/async/test_exceptions.py
  tests/sync/test_events.py
  tests/sync/test_exceptions.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

chore: release v0.5.0
  pyproject.toml
  uv.lock
Due: none

ci: pin workflow runners to ubuntu-26.04
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/publish.yml
  .vscode/settings.json
Due: none

build: require pydantic 2.14 final on Python 3.15
  AGENTS.md
  pyproject.toml
  scripts/check_installed_package.py
  uv.lock
Due: dead-code, deps-unused, type-check

build: allow uv_build 0.13
  pyproject.toml
Due: none

fix: map every transport error to DiscogsConnectionError
  README.md
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_exceptions.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_retry.py
  tests/sync/test_retry.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

fix: never close a cache the client did not create
  README.md
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_client.py
  tests/sync/test_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

docs: word the close() docstring for both clients
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

ci: name the failed job and step in the integration failure report
  .github/workflows/integration.yml
  AGENTS.md
Due: none

fix: honour valid Retry-After values and reject invalid ones
  AGENTS.md
  README.md
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_base_client.py
  tests/async/test_logging.py
  tests/async/test_retry.py
  tests/sync/test_base_client.py
  tests/sync/test_logging.py
  tests/sync/test_retry.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

fix: rebase pagination next links onto base_url and reject foreign origins
  README.md
  src/discogs_sdk/_async/_paginator.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_paginator.py
  tests/async/test_paginator.py
  tests/async/test_search.py
  tests/sync/test_paginator.py
  tests/sync/test_search.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

fix: make SDK exceptions survive pickle, copy and deepcopy
  README.md
  src/discogs_sdk/_exceptions.py
  tests/async/test_exceptions.py
  tests/sync/test_exceptions.py
Due: dead-code, deps-unused, type-check

fix: normalize and bound DiscogsAPIError messages
  README.md
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_exceptions.py
  tests/async/test_base_client.py
  tests/async/test_error_boundary.py
  tests/sync/test_base_client.py
  tests/sync/test_error_boundary.py
Due: dead-code, deps-unused, type-check

docs: keep live test runs away from parallel agent sessions
  AGENTS.md
Due: none

docs: describe the main branch ruleset and how pull requests land
  AGENTS.md
Due: none

fix: make just release wait for the publish run to register
  AGENTS.md
  justfile
Due: none

Path conditions:
  sync-codegen-check: any of: (^src/discogs_sdk/_async/|^scripts/generate_sync\.py$)
  dead-code: any of: \.py$
  deps-unused: any of: \.py$
  type-check: any of: \.py$
