Repository jmfontaine/discogs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-codegen-check, dead-code, deps-unused, type-check

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/rhysd/actionlint
    rev: 393031adb9afb225ee52ae2ccd7a5af5525e03e8  # frozen: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0839f92796ae388643a08a21640a029b322be5c2  # frozen: v0.15.2
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: b7fa7c655ce7b89804034228e1677f8cc1dca92a  # frozen: v2.16.1
    hooks:
      - id: pyproject-fmt

  - repo: local
    hooks:
      - id: sync-codegen-check
        name: sync-codegen-check
        entry: uv run python scripts/generate_sync.py --check
        language: system
        files: (^src/discogs_sdk/_async/|^scripts/generate_sync\.py$)
        pass_filenames: false

      - id: dead-code
        name: dead-code
        entry: bash -c 'output=$(uv run deadcode src tests examples 2>&1); echo "$output"; echo "$output" | grep -q "DC0" && exit 1 || exit 0'
        language: system
        types: [python]
        pass_filenames: false

      - id: deps-unused
        name: deps-unused
        entry: uv run deptry src
        language: system
        types: [python]
        pass_filenames: false

      - id: type-check
        name: type-check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

fix(examples): edit the instance the collection example created
  examples/collection.py
  tests/test_examples_behavior.py
Due: dead-code, deps-unused, type-check

fix(examples): stop combining an order status and shipping change
  examples/marketplace.py
  tests/test_examples_behavior.py
Due: dead-code, deps-unused, type-check

docs(tests): stop calling the example import check API-surface verification
  tests/test_examples.py
Due: dead-code, deps-unused, type-check

build: provision pre-commit through the managed environment
  CONTRIBUTING.md
  justfile
  pyproject.toml
  uv.lock
Due: none

docs: describe retry behaviour instead of promising rate-limit compliance
  README.md
Due: none

docs: correct the false claims in the competitor comparison
  README.md
Due: none

docs: correct the Ruff target version in CONTRIBUTING
  CONTRIBUTING.md
Due: none

docs: document the contracts this release changed
  README.md
Due: none

test: cover alias-choice attribute access and awaited proxy subscript
  tests/async/test_releases.py
  tests/test_model_aliases.py
Due: dead-code, deps-unused, type-check

refactor(client): disable custom-client auth with auth=None
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test(auth): prove credential precedence at the HTTP boundary
  tests/async/test_base_client.py
  tests/async/test_client.py
  tests/sync/test_base_client.py
  tests/sync/test_client.py
Due: dead-code, deps-unused, type-check

fix(cache): make the credential digest preimage unambiguous
  src/discogs_sdk/_base_client.py
  tests/async/test_client.py
  tests/sync/test_client.py
Due: dead-code, deps-unused, type-check

fix(retry): apply the retry policy to every transport failure
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_retry.py
  tests/sync/test_retry.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test(errors): cover a non-JSON 403 through the error boundary
  tests/async/test_error_boundary.py
  tests/sync/test_error_boundary.py
Due: dead-code, deps-unused, type-check

docs(client): correct the constructor docstring contracts
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test(cache): assert observable behaviour instead of private wiring
  tests/async/test_client.py
  tests/sync/test_client.py
Due: dead-code, deps-unused, type-check

docs: restore the endpoint-coverage comparison, this time verified
  README.md
Due: none

docs: replace the endpoint count with a claim that survives scrutiny
  README.md
Due: none

docs: scope the retry claim to what _send actually catches
  README.md
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

build: add just check-endpoints to re-verify the coverage claims
  CONTRIBUTING.md
  justfile
  scripts/check_endpoint_coverage.py
Due: dead-code, deps-unused, type-check
