Repository jmfontaine/discogs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-codegen-check, dead-code, deps-unused, type-check

sync-codegen-check:
  name: sync-codegen-check
  entry: uv run python scripts/generate_sync.py --check
  language: system
  pass_filenames: false

dead-code:
  name: dead-code
  entry: bash -c 'output=$(uv run deadcode src tests examples 2>&1); echo "$output"; echo "$output" | grep -q "DC0" && exit 1 || exit 0'
  language: system
  pass_filenames: false

deps-unused:
  name: deps-unused
  entry: uv run deptry src
  language: system
  pass_filenames: false

type-check:
  name: type-check
  entry: uv run ty check
  language: system
  pass_filenames: false

ci: add workflow to publish to PyPI and create GitHub releases
  .github/workflows/publish.yml
Due: none

chore: add release recipe to justfile
  .vscode/settings.json
  CLAUDE.md
  justfile
Due: none

chore: suppress unused-ignore-comment rule in ty
  pyproject.toml
Due: none

feat: add configurable cache_dir for hishel HTTP caching
  examples/advanced.py
  scripts/generate_sync.py
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

feat: replace hishel with hand-rolled response cache
  .vscode/settings.json
  README.md
  examples/advanced.py
  pyproject.toml
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_cache.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_client.py
  tests/sync/test_client.py
  tests/test_cache.py
  uv.lock
Due: sync-codegen-check, dead-code, deps-unused, type-check

feat: add media_type parameter for API versioning and text format control
  src/discogs_sdk/__init__.py
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_base_client.py
  tests/sync/test_base_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

docs: fix incorrect claim that sync tests are auto-generated
  CLAUDE.md
Due: none

feat: allow API field names as attribute aliases on models
  src/discogs_sdk/models/_common.py
  tests/test_model_aliases.py
Due: dead-code, deps-unused, type-check

docs: restructure README and document alias attribute access
  .vscode/settings.json
  README.md
Due: none

chore: use NIN examples everywhere and add conventions to CLAUDE.md
  CLAUDE.md
  examples/advanced.py
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

docs: sort client parameters table alphabetically
  README.md
Due: none

docs: improve contributing guide accuracy and completeness
  .claude/settings.json
  .vscode/settings.json
  CONTRIBUTING.md
Due: none

ci: add git-cliff for conventional commit release notes
  .github/workflows/publish.yml
  cliff.toml
  justfile
Due: none

chore: bump version to 0.2.0
  pyproject.toml
  uv.lock
Due: none

fix: correct cliff template newlines between list items
  cliff.toml
Due: none

feat: add page and per_page params to paginated list methods
  src/discogs_sdk/__init__.py
  src/discogs_sdk/_async/_paginator.py
  src/discogs_sdk/_async/resources/artists.py
  src/discogs_sdk/_async/resources/collection.py
  src/discogs_sdk/_async/resources/exports.py
  src/discogs_sdk/_async/resources/labels.py
  src/discogs_sdk/_async/resources/lists.py
  src/discogs_sdk/_async/resources/marketplace.py
  src/discogs_sdk/_async/resources/masters.py
  src/discogs_sdk/_async/resources/uploads.py
  src/discogs_sdk/_async/resources/users.py
  src/discogs_sdk/_async/resources/wantlist.py
  src/discogs_sdk/_sync/_paginator.py
  src/discogs_sdk/_sync/resources/artists.py
  src/discogs_sdk/_sync/resources/collection.py
  src/discogs_sdk/_sync/resources/exports.py
  src/discogs_sdk/_sync/resources/labels.py
  src/discogs_sdk/_sync/resources/lists.py
  src/discogs_sdk/_sync/resources/marketplace.py
  src/discogs_sdk/_sync/resources/masters.py
  src/discogs_sdk/_sync/resources/uploads.py
  src/discogs_sdk/_sync/resources/users.py
  src/discogs_sdk/_sync/resources/wantlist.py
  tests/async/test_artists.py
  tests/async/test_paginator.py
  tests/conftest.py
  tests/sync/test_artists.py
  tests/sync/test_paginator.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test: cover remaining cache branches in client init and clear_cache
  tests/async/test_client.py
  tests/sync/test_client.py
Due: dead-code, deps-unused, type-check

docs: document local discogs API reference in CLAUDE.md
  .gitignore
  CLAUDE.md
Due: none

chore: bump version to 0.3.0
  pyproject.toml
  uv.lock
Due: none

fix: add blank line before changelog section headings
  cliff.toml
Due: none

fix: strip transport-layer headers from cached responses
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_client.py
  tests/sync/test_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

chore: bump version to 0.3.1
  pyproject.toml
  uv.lock
Due: none

chore: add spell checker words to vscode settings
  .vscode/settings.json
Due: none

test: fix typo in retry test class name
  tests/async/test_retry.py
  tests/sync/test_retry.py
Due: dead-code, deps-unused, type-check

chore: use pep 639 license metadata
  pyproject.toml
Due: none

chore: update dependencies
  uv.lock
Due: none

ci: update pre-commit hooks to latest revisions
  .pre-commit-config.yaml
Due: none

docs: move project guidance to agents.md
  AGENTS.md
  CLAUDE.md
Due: none

fix(auth): select exactly one credential mode at construction
  src/discogs_sdk/_base_client.py
  tests/async/test_base_client.py
  tests/sync/test_base_client.py
Due: dead-code, deps-unused, type-check

fix(client): apply SDK credentials and headers to injected HTTP clients
  src/discogs_sdk/_async/_client.py
  src/discogs_sdk/_base_client.py
  src/discogs_sdk/_sync/_client.py
  tests/async/test_client.py
  tests/sync/test_client.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

Path conditions:
  sync-codegen-check: any of: (^src/discogs_sdk/_async/|^scripts/generate_sync\.py$)
  dead-code: any of: \.py$
  deps-unused: any of: \.py$
  type-check: any of: \.py$
