Repository jmfontaine/discogs-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-codegen-check, dead-code, deps-unused, type-check

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/rhysd/actionlint
    rev: 393031adb9afb225ee52ae2ccd7a5af5525e03e8  # frozen: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0839f92796ae388643a08a21640a029b322be5c2  # frozen: v0.15.2
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: b7fa7c655ce7b89804034228e1677f8cc1dca92a  # frozen: v2.16.1
    hooks:
      - id: pyproject-fmt

  - repo: local
    hooks:
      - id: sync-codegen-check
        name: sync-codegen-check
        entry: uv run python scripts/generate_sync.py --check
        language: system
        files: (^src/discogs_sdk/_async/|^scripts/generate_sync\.py$)
        pass_filenames: false

      - id: dead-code
        name: dead-code
        entry: bash -c 'output=$(uv run deadcode src tests examples 2>&1); echo "$output"; echo "$output" | grep -q "DC0" && exit 1 || exit 0'
        language: system
        types: [python]
        pass_filenames: false

      - id: deps-unused
        name: deps-unused
        entry: uv run deptry src
        language: system
        types: [python]
        pass_filenames: false

      - id: type-check
        name: type-check
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

docs: write the comparison for readers, and probe it for drift
  CONTRIBUTING.md
  README.md
  scripts/check_endpoint_coverage.py
Due: dead-code, deps-unused, type-check

ci: run dead code analysis through a pinned script
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  AGENTS.md
  justfile
  pyproject.toml
  scripts/check_dead_code.sh
  uv.lock
Due: none

feat: support Python 3.15
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  AGENTS.md
  pyproject.toml
  uv.lock
Due: none

ci: verify the built distributions before publishing
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .vscode/settings.json
  AGENTS.md
  pyproject.toml
  scripts/check_distributions.py
  scripts/check_installed_package.py
  uv.lock
Due: dead-code, deps-unused, type-check

test: tolerate wantlist read-after-write lag
  tests/integration/conftest.py
  tests/integration/test_wantlist.py
Due: dead-code, deps-unused, type-check

chore: update coverage to 7.16.1
  uv.lock
Due: none

docs: use a dagger for the comparison table footnote
  README.md
Due: none

chore: add an API reference updater script
  .vscode/settings.json
  AGENTS.md
  justfile
  pyproject.toml
  scripts/update_api_docs.py
  uv.lock
Due: dead-code, deps-unused, type-check

fix: declare the response fields the reference documents
  README.md
  pyproject.toml
  src/discogs_sdk/__init__.py
  src/discogs_sdk/models/__init__.py
  src/discogs_sdk/models/_common.py
  src/discogs_sdk/models/_lazy_fields.py
  src/discogs_sdk/models/collection.py
  src/discogs_sdk/models/marketplace.py
  src/discogs_sdk/models/master.py
  src/discogs_sdk/models/release.py
  src/discogs_sdk/models/search.py
  src/discogs_sdk/models/user.py
  tests/test_model_aliases.py
Due: dead-code, deps-unused, type-check

feat: expose every documented pagination url
  src/discogs_sdk/_async/_paginator.py
  src/discogs_sdk/_sync/_paginator.py
  tests/async/test_paginator.py
  tests/sync/test_paginator.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test: cover fields returned only to some callers
  tests/test_conditional_fields.py
Due: dead-code, deps-unused, type-check

test: mirror every example in the API reference
  tests/documented_payloads.py
  tests/test_documented_payloads.py
Due: dead-code, deps-unused, type-check

test: round-trip the documented bodies through the client
  tests/test_documented_roundtrip.py
Due: dead-code, deps-unused, type-check

chore: check the mirrored bodies against the API reference
  scripts/check_endpoint_coverage.py
Due: dead-code, deps-unused, type-check

fix!: drop notes and rating from wantlist create
  README.md
  examples/collection.py
  src/discogs_sdk/_async/resources/wantlist.py
  src/discogs_sdk/_sync/resources/wantlist.py
  tests/async/test_wantlist.py
  tests/sync/test_wantlist.py
  tests/test_documented_roundtrip.py
Due: sync-codegen-check, dead-code, deps-unused, type-check

test: tag and reclaim everything the live suite writes
  tests/integration/conftest.py
  tests/integration/test_collection.py
  tests/integration/test_wantlist.py
  tests/test_integration_safety.py
Due: dead-code, deps-unused, type-check

test: cover unauthenticated access to the live API
  justfile
  pyproject.toml
  tests/integration/test_search.py
  tests/integration/test_unauthenticated.py
Due: dead-code, deps-unused, type-check

ci: run the live integration suite weekly
  .github/workflows/integration.yml
  AGENTS.md
Due: none
